@charset "utf8";

:root{
    --cor1:#58a9d8;
    --cor2:#2E698B;
    --cor3:#008FE1;
    --cor4:#304F61;
    --cor5:#243036;
    --cor6:#2B3033;

}



header{
        display: inline-block;
        border-radius: 10px;
        border:2px solid lightgray;
        width: 100%;
        height: 600px;
        background-color: var(--cor1);
        box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.329);
        

}

img{
    
    position: absolute;
    transform: translate(-50% -50%);

}

body{
    background-image: linear-gradient (to left, blue, blue, blue);
}

