*{
    margin: 0;
    padding: 0;
}


:root{
    --cor1: rgb(117, 167, 182);
}

img{
 
    max-width: 70vw;
    margin: 10px;
    box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.644);
    
}

div{
    height: 98vh;
    background-color: var(--cor1);
    margin: 20px;
    display: flex;
    align-items: center;
    color: white;
    font-size: 2em;
    flex-wrap: wrap;
    max-height: 900px;
    font-wheight: bold;
}
